

<!DOCTYPE html>
<html lang="ja" class="no-js no-svg">
<head>
  <meta charset="utf-8">
  <meta name="Description"
        content="豊田市美術館の公式ホームページ。展覧会、関連プログラム、コレクション、刊行物、ミュージアムショップ、レストラン、茶室に関する案内のほか、団体申込み、市民ギャラリー、友の会などの情報を紹介。"/>
  <meta name="keywords"
        content="豊田市美術館,Toyota Municipal museum of Art,現代美術,美術,アート,art,豊田市,museum,近代美術,デザイン,建築,谷口吉生,クリムト,ウィーン,分離派">

  <meta property="og:title" content="豊田市美術館">
  <meta property="og:description"
        content="豊田市美術館の公式ホームページ。展覧会、関連プログラム、コレクション、刊行物、ミュージアムショップ、レストラン、茶室に関する案内のほか、団体申込み、市民ギャラリー、友の会などの情報を紹介。">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="豊田市美術館">
  <meta property="og:image" content="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/ogp.png">
  <meta property="og:url" content="http://www.museum.toyota.aichi.jp/">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>年間パスポート | 豊田市美術館</title>

  <link rel="shortcut icon" href="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="../css/top.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script> -->

    <script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>


<!-- All in One SEO Pack 2.4.5.1 by Michael Torbert of Semper Fi Web Design[983,1027] -->
<link rel="canonical" href="http://dev2.tmma-dev.ranaextractive.jp/visit/tomonokai.html" />
<!-- /all in one seo pack -->
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="豊田市美術館 &raquo; フィード" href="http://dev2.tmma-dev.ranaextractive.jp/feed/" />
<link rel="alternate" type="application/rss+xml" title="豊田市美術館 &raquo; コメントフィード" href="http://dev2.tmma-dev.ranaextractive.jp/comments/feed/" />
<link rel='stylesheet' id='contact-form-7-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-confirm-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/contact-form-7-add-confirm/includes/css/styles.css?ver=4.8' type='text/css' media='all' />
<link rel='stylesheet' id='jvcf7_style-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/jquery-validation-for-contact-form-7/css/jvcf7_validate.css?ver=4.9.3' type='text/css' media='all' />
<link rel='stylesheet' id='twentyseventeen-style-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/style.css?ver=4.9.3' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentyseventeen-ie8-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/css/ie8.css?ver=1.0' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='app-css-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/css/app.css?1519888450' type='text/css' media='all' />
<link rel='stylesheet' id='swiper-css-css'  href='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/css/swiper.min.css' type='text/css' media='all' />
<link rel='https://api.w.org/' href='http://dev2.tmma-dev.ranaextractive.jp/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://dev2.tmma-dev.ranaextractive.jp/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://dev2.tmma-dev.ranaextractive.jp/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.9.3" />
<link rel='shortlink' href='http://dev2.tmma-dev.ranaextractive.jp/?p=282' />
<link rel="alternate" type="application/json+oembed" href="http://dev2.tmma-dev.ranaextractive.jp/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdev2.tmma-dev.ranaextractive.jp%2Fvisit%2Ftomonokai.html" />
<link rel="alternate" type="text/xml+oembed" href="http://dev2.tmma-dev.ranaextractive.jp/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdev2.tmma-dev.ranaextractive.jp%2Fvisit%2Ftomonokai.html&#038;format=xml" />
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		</head>
<body class="page-template page-template-page-sidebarexist page-template-page-sidebarexist-php page page-id-282 logged-in has-header-image page-two-column colors-light font_m">

<div class="pixel"></div>
<div id="header" class="columns zi_upper">
  <div class="sticky-container header_height">
    <div class="gnavi sticky border_bb zi_upper" data-sticky data-margin-top="0"
         data-options="sticky_on:small,midium,large">
      <div class="grid-x" style="height: 152px;">
        <a class="gnavi-logo left" href="/">
          <img class="hide-for-small-only"
               src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/logo.svg"
               alt="Toyota Municipal Museum of Art 豊田市美術館">
          <img class="show-for-small-only"
               src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/logo_typo.svg"
               alt="Toyota Municipal Museum of Art 豊田市美術館">
        </a>
        <div class="nav_icon show-for-small-only">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="clearfix hide-for-small-only">
          <ul class="upper text-bold sp_bb">
            <a href="/">
              <li class="squares active">JP</li>
            </a>
            <a href="/en">
              <li class="squares">EN</li>
            </a>
            <!--              <a href="#">-->
            <!--                <li class="squares">OTHER</li>-->
            <!--              </a>-->
            <li class="header_search pc_search">


<form role="search" method="get" class="search-form" action="http://dev2.tmma-dev.ranaextractive.jp/search/">
	<input type="search" id="search_word" class="search-field" value="" name="q" />
	<button type="image">
		<svg class="replace-svg white_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.59 20.67">
			<title>
			searchicon</title>
			<path
			d="M8.7,17.17a8.5,8.5,0,1,1,8.5-8.5A8.51,8.51,0,0,1,8.7,17.17Zm0-15a6.5,6.5,0,1,0,6.5,6.5A6.51,6.51,0,0,0,8.7,2.17Z"
			transform="translate(-0.2 -0.17)"/>
			<rect x="14.59" y="12.04" width="3.62" height="8.81"
			transform="translate(-7.02 16.24) rotate(-45)"/>
		</svg>
	</button>
</form>



            </li>
          </ul>
          <ul class="bottom text-bold clearfix righ">
            <a href="/visit/" data-toggle="dropdown-1" class="dropdown-background dropdown-1">
              <li class="squares">
                <h2 class="text-bold font17">来館のご案内</h2>
              </li>
            </a>
            <a href="/exhibition/" data-toggle="dropdown-2" class="dropdown-background dropdown-2">
              <li class="squares">
                <h2 class="text-bold font17">展覧会</h2>
              </li>
            </a>
            <a href="/event/" data-toggle="dropdown-3" class="dropdown-background dropdown-3">
              <li class="squares">
                <h2 class="text-bold font17">イベント</h2>
              </li>
            </a>
            <a href="/collection/" data-toggle="dropdown-4" class="dropdown-background dropdown-4">
              <li class="squares">
                <h2 class="text-bold font17">コレクション</h2>
              </li>
            </a>
            <a href="/about/" data-toggle="dropdown-5" class="dropdown-background dropdown-5">
              <li class="squares">
                <h2 class="text-bold font17">美術館について</h2>
              </li>
            </a>
          </ul>
          <div id="dropdown-background" class="inner_menu dropdown-pane dropdown-active">
            <div class="mw1280">
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <div id="dropdown-1" class="inner_menu dropdown-pane" data-dropdown data-hover-delay="0" data-hover="true"
               data-hover-pane="true">
            <div class="mw1280">
              <h1>Visit</h1>
              <p class="text-bold">来館のご案内</p>
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>

              <ul class="menu_l vertical_ul">
                <a class="white" href="/visit/">
                  <li class="squares">開館情報・アクセス</li>
                </a>
                <a class="white" href="/visit/accessmap.html">
                  <li class="squares mt30">観覧料</li>
                </a>
                <a class="white" href="/visit/group-app.html">
                  <li class="squares mt30">団体申込み</li>
                </a>
                <a class="white" href="/visit/restaurant.html">
                  <li class="squares mt30">レストラン</li>
                </a>
              </ul>
              <ul class="menu_r vertical_ul">
                <a class="white" href="/visit/teaceremonyhouse.html">
                  <li class="squares">茶室</li>
                </a>
                <a class="white" href="/visit/museumshop.html">
                  <li class="squares mt30">ミュージアムショップ</li>
                </a>
                <a class="white" href="/visit/gallery-app.html">
                  <li class="squares mt30">ギャラリー</li>
                </a>
                <a class="white" href="http://cul-takahashi-memorial.or.jp" target="_blank">
                <li class="squares mt30">高橋節郎館<svg class="external-link" version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" viewBox="0 0 11.6 11.5" style="enable-background:new 0 0 11.6 11.5;" xml:space="preserve">
                      <title>external link icon</title>
                      <g id="レイヤー_1-2">
                        <polygon class="st0" points="4.3,0.5 4.3,4.2 7.3,4.2 7.3,7.2 11.1,7.2 11.1,0.5 	"/>
                        <rect x="0.5" y="4.2" class="st0" width="6.8" height="6.8"/>
                      </g>
</svg>
                  </li>
                </a>
              </ul>
            </div>
          </div>
          <div id="dropdown-2" class="inner_menu dropdown-pane" data-dropdown data-hover-delay="0" data-hover="true"
               data-hover-pane="true">
            <div class="mw1280">
              <h1>Exhibition</h1>
              <p class="text-bold">展覧会</p>
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>

              <ul class="menu_l vertical_ul">
                <a class="white" href="/exhibition/">
                  <li class="squares">開催中の展覧会</li>
                </a>
                <a class="white" href="/exhibition/?t=plan">
                  <li class="squares mt30">開催予定の展覧会</li>
                </a>
                <a class="white" href="/exhibition/?t=2017">
                  <li class="squares mt30">過去の展覧会</li>
                </a>
                <a class="white" href="/exhibition/?t=schedule">
                  <li class="squares mt30">年間スケジュール</li>
                </a>
              </ul>
              <ul class="menu_r vertical_ul">
              </ul>
            </div>
          </div>
          <div id="dropdown-3" class="inner_menu dropdown-pane" data-dropdown data-hover-delay="0" data-hover="true"
               data-hover-pane="true">
            <div class="mw1280">
              <h1>Event</h1>
              <p class="text-bold">イベント</p>
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>
              <ul class="menu_l vertical_ul">
                <a class="white" href="/event/">
                  <li class="squares">イベントスケジュール</li>
                </a>
                <a class="white" href="/event/gallerytour.html">
                  <li class="squares mt30">ギャラリーツアー</li>
                </a>
                <a class="white" href="/event/education.html">
                  <li class="squares mt30">教育普及プログラム</li>
                </a>
              </ul>
              <ul class="menu_r vertical_ul">
              </ul>
            </div>
          </div>
          <div id="dropdown-4" class="inner_menu dropdown-pane" data-dropdown data-hover-delay="0" data-hover="true"
               data-hover-pane="true">
            <div class="mw1280">
              <h1>Collection</h1>
              <p class="text-bold">コレクション</p>
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>
              <ul class="menu_l vertical_ul">
                <a class="white" href="/collection/">
                  <li class="squares">コレクション一覧</li>
                </a>
              </ul>
              <ul class="menu_r vertical_ul">
              </ul>
            </div>
          </div>
          <div id="dropdown-5" class="inner_menu dropdown-pane" data-dropdown data-hover-delay="0" data-hover="true"
               data-hover-pane="true">
            <div class="mw1280">
              <h1>About</h1>
              <p class="text-bold">美術館について</p>
              <div class="top_info">
                <ul class="font-s">
                  <li class="museum_status">
                                              <h3>Open Today</h3>
                        <span class="green mb20">本日開館</span>
                                        </li>
                  <li>10:00～17:30<br class="pc-display">(入場：17:00まで)</li>
                  <li>愛知県豊田市<br class="pc-display">小坂本町8丁目5番地1</li>
                  <a href="/visit/#access_map">
                    <li class="square_point">MAP</li>
                  </a>
                </ul>
              </div>
              <ul class="menu_l vertical_ul">
                <a class="white" href="/about/">
                  <li class="squares">建築・庭園について</li>
                </a>
                <a class="white" href="/about/publication.html">
                  <li class="squares mt30">刊行物</li>
                </a>
              </ul>
              <ul class="menu_r vertical_ul">
              </ul>
            </div>
          </div>
        </div>

        <div class="sp-headers clearfix show-for-small-only" style="background-color: rgba(96, 93, 93, 0.95);">
          <ul class="bottom clearfix">
            <li class="squares">
              <a class="sp_accordion" href="#">
                <h2 class="text-bold">来館のご案内</h2>
              </a>
              <ul class="menu_inner font-s">
                <li class="squares no-border mt35"><a class="white" href="/visit/">開館情報・アクセス</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/accessmap.html">観覧料</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/group-app.html">団体申込み</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/restaurant.html">レストラン</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/teaceremonyhouse.html">茶室</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/museumshop.html">ミュージアムショップ</a></li>
                <li class="squares no-border mt35"><a class="white" href="/visit/gallery-app.html">ギャラリー</a></li>
                <li class="squares no-border mt35">
                  <a class="white" href="http://cul-takahashi-memorial.or.jp" target="_blank">高橋節郎館</a><svg class="external-link" version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                       y="0px" viewBox="0 0 11.6 11.5" style="enable-background:new 0 0 11.6 11.5;" xml:space="preserve">
                      <title>external link icon</title>
                    <g id="レイヤー_1-2">
                      <polygon class="st0" points="4.3,0.5 4.3,4.2 7.3,4.2 7.3,7.2 11.1,7.2 11.1,0.5 	"/>
                      <rect x="0.5" y="4.2" class="st0" width="6.8" height="6.8"/>
                    </g>
</svg>
                </li>
              </ul>
            </li>
            <li class="squares">
              <a class="sp_accordion" href="#">
                <h2 class="text-bold">展覧会</h2>
              </a>
              <ul class="menu_inner font-s">
                <li class="squares no-border mt35"><a class="white" href="/exhibition/">開催中の展覧会</a></li>
                <li class="squares no-border mt35"><a class="white" href="/exhibition/?t=plan">開催予定の展覧会</a></li>
                <li class="squares no-border mt35"><a class="white" href="/exhibition/?t=2017">過去の展覧会</a></li>
                <li class="squares no-border mt35"><a class="white" href="/exhibition/?t=schedule">年間スケジュール</a>
                </li>
              </ul>
            </li>
            <li class="squares">
              <a class="sp_accordion" href="#">
                <h2 class="text-bold">イベント</h2>
              </a>
              <ul class="menu_inner font-s">
                <li class="squares no-border mt35"><a class="white" href="/event/">イベントスケジュール</a></li>
                <li class="squares no-border mt35"><a class="white" href="/event/gallerytour.html">ギャラリーツアー</a></li>
                <li class="squares no-border mt35"><a class="white" href="/event/education.html">教育普及プログラム</a></li>
              </ul>
            </li>
            <li class="squares">
              <a class="sp_accordion" href="#">
                <h2 class="text-bold">コレクション</h2>
              </a>
              <ul class="menu_inner font-s">
                <li class="squares no-border mt35"><a class="white" href="/collection/">コレクション一覧</a></li>
              </ul>
            </li>
            <li class="squares">
              <a class="sp_accordion" href="#">
                <h2 class="text-bold">美術館について</h2>
              </a>
              <ul class="menu_inner font-s">
                <li class="squares no-border mt35"><a class="white" href="/about/">建築・庭園について</a></li>
                <li class="squares no-border mt35"><a class="white" href="/about/publication.html">刊行物</a></li>
              </ul>
            </li>
          </ul>
          <ul class="upper text-bold sp_bb">
            <li class="squares active"><a href="#">JP</a></li>
            <li class="squares"><a href="#">EN</a></li>
            <!--            <li class="squares"><a href="#">OTHER</a></li>-->
            <li class="header_search sp_search">


<form role="search" method="get" class="search-form" action="http://dev2.tmma-dev.ranaextractive.jp/search/">
	<input type="search" id="search_word" class="search-field" value="" name="q" />
	<button type="image">
		<svg class="replace-svg white_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.59 20.67">
			<title>
			searchicon</title>
			<path
			d="M8.7,17.17a8.5,8.5,0,1,1,8.5-8.5A8.51,8.51,0,0,1,8.7,17.17Zm0-15a6.5,6.5,0,1,0,6.5,6.5A6.51,6.51,0,0,0,8.7,2.17Z"
			transform="translate(-0.2 -0.17)"/>
			<rect x="14.59" y="12.04" width="3.62" height="8.81"
			transform="translate(-7.02 16.24) rotate(-45)"/>
		</svg>
	</button>
</form>



            </li>
          </ul>
          <ul class="sns">
            <li><a href="#">
                <svg class="replace-svg white_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 162.54">
                  <defs></defs>
                  <title>footer_ico_twitter</title>
                  <path class="a"
                        d="M203,41a82,82,0,0,1-23.57,6.46,41.16,41.16,0,0,0,18-22.7,82.14,82.14,0,0,1-26.06,10A41.07,41.07,0,0,0,101.5,72.12,116.49,116.49,0,0,1,16.92,29.24,41.08,41.08,0,0,0,29.62,84,40.87,40.87,0,0,1,11,78.89c0,.17,0,.34,0,.52a41.06,41.06,0,0,0,32.91,40.23,41.12,41.12,0,0,1-18.53.7,41.07,41.07,0,0,0,38.33,28.5,82.32,82.32,0,0,1-51,17.57A83.26,83.26,0,0,1,3,165.83a116.14,116.14,0,0,0,62.9,18.44c75.47,0,116.75-62.52,116.75-116.75q0-2.67-.12-5.31A83.37,83.37,0,0,0,203,41Z"
                        transform="translate(-3 -21.73)"/>
                </svg>
              </a>
            </li>
            <li><a href="#">
                <svg class="replace-svg white_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.04 200.04">
                  <defs></defs>
                  <title>footer_ico_insta</title>
                  <path class="a"
                        d="M103,21c26.71,0,29.87.1,40.42.58,9.75.44,15,2.07,18.57,3.44a31,31,0,0,1,11.5,7.48A31,31,0,0,1,181,44c1.37,3.52,3,8.82,3.44,18.57.48,10.55.58,13.71.58,40.42s-.1,29.87-.58,40.42c-.44,9.75-2.07,15-3.44,18.57a33.12,33.12,0,0,1-19,19c-3.52,1.37-8.82,3-18.57,3.44-10.55.48-13.71.58-40.42.58s-29.87-.1-40.42-.58c-9.75-.44-15-2.07-18.57-3.44a31,31,0,0,1-11.5-7.48A31,31,0,0,1,25,162c-1.37-3.52-3-8.82-3.44-18.57C21.11,132.87,21,129.71,21,103s.1-29.87.58-40.42C22,52.83,23.66,47.54,25,44a31,31,0,0,1,7.48-11.5A31,31,0,0,1,44,25c3.52-1.37,8.82-3,18.57-3.44C73.13,21.11,76.29,21,103,21m0-18c-27.16,0-30.57.12-41.24.6S43.85,5.76,37.48,8.23A49,49,0,0,0,19.77,19.77,49,49,0,0,0,8.23,37.48C5.76,43.85,4.07,51.12,3.58,61.76S3,75.84,3,103s.12,30.57.6,41.24,2.18,17.92,4.65,24.28a49,49,0,0,0,11.54,17.72,49,49,0,0,0,17.72,11.54c6.36,2.47,13.63,4.16,24.28,4.65s14.07.6,41.24.6,30.57-.11,41.24-.6,17.92-2.18,24.28-4.65a51.14,51.14,0,0,0,29.25-29.25c2.47-6.36,4.16-13.63,4.65-24.28s.6-14.07.6-41.24-.12-30.57-.6-41.24-2.18-17.92-4.65-24.28a49,49,0,0,0-11.54-17.72A49,49,0,0,0,168.52,8.23c-6.36-2.47-13.63-4.16-24.28-4.65S130.16,3,103,3Z"
                        transform="translate(-2.98 -2.98)"/>
                  <path class="a"
                        d="M103,51.64A51.36,51.36,0,1,0,154.36,103,51.36,51.36,0,0,0,103,51.64Zm0,84.7A33.34,33.34,0,1,1,136.34,103,33.34,33.34,0,0,1,103,136.34Z"
                        transform="translate(-2.98 -2.98)"/>
                  <circle class="a" cx="153.41" cy="46.63" r="12"/>
                </svg>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-background zi_under fixed_background_visit"></div><div id="information_ind" class="wrapper zi_under">
  <div class="grid-x border_lr font_m">
    <div class="large-4 small-12 cell title-cells border_rb">
      <h1>Visit</h1>
      <p class="text-bold">来館のご案内</p>
      <ul class="pc-display mt30">
        <a href="/visit/">
          <li class="mb15">開館情報・アクセス
          </li>
        </a>
        <a href="/visit/accessmap.html">
          <li class="mb15"><span class="">観覧料</span>
                        </li>
        </a>
        <a href="/visit/group-app.html">
          <li class="mb15"><span class="">団体申込み</span></li>
        </a>
        <a href="/visit/restaurant.html">
          <li class="mb15"><span class="">レストラン</span>
                        </li>
        </a>
        <a href="/visit/teaceremonyhouse.html">
          <li class="mb15">茶室
          </li>
        </a>
        <a href="/visit/museumshop.html">
          <li class="mb15">ミュージアムショップ
          </li>
        </a>
        <a href="/visit/gallery-app.html">
          <li class="mb15"><span class="">ギャラリー</span>
                        </li>
        </a>
        <a href="http://cul-takahashi-memorial.or.jp" target="_blank">
          <li class="mb15">高橋節郎館<svg class="external-link" version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                     y="0px" viewBox="0 0 11.6 11.5" style="enable-background:new 0 0 11.6 11.5;" xml:space="preserve">
                      <title>external link icon</title>
              <g id="レイヤー_1-2">
                <polygon class="st1" points="4.3,0.5 4.3,4.2 7.3,4.2 7.3,7.2 11.1,7.2 11.1,0.5 	"/>
                <rect x="0.5" y="4.2" class="st1" width="6.8" height="6.8"/>
              </g>
</svg>
          </li>
        </a>
      </ul>
    </div>
    <div class="sp-display small-12 border_b">
      <ul class="sp-breadcrumb">
        <li class="">
          <a href="/visit/"><span class="nav-arrow">開館情報・アクセス</span></a>
          <a href="/visit/accessmap.html"><span class="nav-arrow">観覧料</span></a>
          <a href="/visit/tomonokai.html"><span class="nav-arrow">年間パスポート</span></a>
          <a href="/visit/group-app.html"><span class="nav-arrow">団体申込み</span></a>
          <a href="/visit/restaurant.html"><span class="nav-arrow">レストラン</span></a>
          <a href="/visit/menu.html"><span class="nav-arrow">メニュー</span></a>
          <a href="/visit/teaceremonyhouse.html"><span
                class="nav-arrow">茶室</span></a>
          <a href="/visit/museumshop.html"><span class="nav-arrow">ミュージアムショップ</span></a>
          <a href="/visit/gallery-app.html"><span class="nav-arrow">ギャラリー</span></a>
          <a href="/visit/gallery-schedule.html"><span class="nav-arrow">ギャラリー年間スケジュール</a>
          <a href="http://cul-takahashi-memorial.or.jp" target="_blank"><span class="nav-arrow">高橋節郎館<svg class="external-link" version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" viewBox="0 0 11.6 11.5" style="enable-background:new 0 0 11.6 11.5;" xml:space="preserve">
                      <title>external link icon</title>
                      <g id="レイヤー_1-2">
                        <polygon class="st1" points="4.3,0.5 4.3,4.2 7.3,4.2 7.3,7.2 11.1,7.2 11.1,0.5 	"/>
                        <rect x="0.5" y="4.2" class="st1" width="6.8" height="6.8"/>
                      </g>
</svg></span></a>
        </li>
      </ul>
    </div>
					<div class="large-12 small-12 cell">
  <div class="grid-x">
    <div class="large-16 small-12 cell border_lb">
      <div class="inner-texts_h2 mb30_h2 sp-title">
        <h2 class="text-bold relative">年間パスポート</h2>
      </div>
    </div>
  </div>

  <div class="large-16 small-12 cell">
    <div class="grid-x">
      <div class="large-12 small-12 cell">
        <div class="inner-texts_base">
          <p class="mb30_base">
            気軽に何度でも美術館へ足を運んでいただけるパスポートを発行します。<br/>
            豊田市美術館主催の展覧会を無料でご覧いただけるほか、パスポートのご提示で様々な特典が受けられます！</p>
          <div class="admissionFees_dl_wrapper border_tb pt20_base pb20_base mb30_base">
            <dl class="admissionFees_dl">
              <dt>価格</dt>
              <dd>1枚（1名様）　3,000円<br>
                ※ ご利用は、パスポート裏面氏名のご本人に限ります。</dd>
              <dt>有効期限</dt>
              <dd>購入日から翌年の発行日の属する月の末日まで</dd>
              <dt>申込方法</dt>
              <dd>美術館チケットカウンターにて直接お申し込みください。
                <p class="mt20"><a href="http://dev2.tmma-dev.ranaextractive.jp/wp-content/uploads/2018/02/flyer-passport.pdf" target="_blank" class="text-underline"><img class="pdf" src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/pdf.png" alt="">案内チラシ　(PDF形式：34KB / 1ページ)</a></p>
                <p class="mb20"><a href="http://dev2.tmma-dev.ranaextractive.jp/wp-content/uploads/2018/02/annual-passport.docx" target="_blank" class="text-underline"><img class="pdf" src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/doc.png" alt="">申込書　(WORD形式：34KB / 1ページ)</a></p>
                <span>申込書をご記入のうえ、ご来館時にお持ちください。<br/>（申込書はご本人様がお持ちください）</span>
                <span>申込書は、ご来館時にご記入もできます。</span>
                <span>メール・郵送等での申込受付は行っておりません。</span>
              </dd>
            </dl>
            <p>※ よくある質問は<a href="#qa" class="text-underline text-bold">こちら</a></p>
          </div>
          <p class="text-bold mt30_base">休館による有効期限の延長について</p>
          <p class="mt20_base">
            休館期間:2018年7月17日（火）〜2019年5月31日（金） <br/>
            上記の間に有効期限を迎える方は、以下のとおり、有効期限を延長します。<br/>
            ご来館の際に、延長手続をいたしますので、受付にお申出下さい。 <br/>
            また、2018年7月16日までに新規でお申込みの方も、期間を延長いたします。 <br/>
            ご迷惑をお掛けいたしますが、ご理解、ご協力をお願いします。</p>
          <p class="mt20_base mb30_base mozi">※年間パスポートを紛失された方への再発行はいたしません。 <br/>
            ※休館中の年間パスポートの特典は、各施設により異なりますので、ご利用の際におたずね下さい。</p>
        </div>
        <div class="inner-texts_big pt0">
          <p class="font-mm text-bold mb20 lh-1">すでにご購入いただいた方</p>
          <table class="passport_table">
            <tr>
              <th>現在の有効期限</th>
              <th>延長後の有効期限</th>
            </tr>
            <tr>
              <td>平成30年（2018年） 7月末</td>
              <td>2019年 6月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 8月末</td>
              <td>2019年 7月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 9月末</td>
              <td>2019年 8月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 10月末</td>
              <td>2019年 9月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 11月末</td>
              <td>2019年 10月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 12月末</td>
              <td>2019年 11月末</td>
            </tr>
          </table>
          <p class="font-mm text-bold mt30 mb20_big">新規にパスポートをご購入いただく方</p>
          <table class="passport_table">
            <tr>
              <th>ご購入月</th>
              <th>有効期限</th>
            </tr>
            <tr>
              <td>平成29年（2017年）12月</td>
              <td>2019年11月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年）1月</td>
              <td>2019年12月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 2月</td>
              <td>2019年 1月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 3月</td>
              <td>2020年 2月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 4月</td>
              <td>2020年 3月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 5月</td>
              <td>2020年 4月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 6月</td>
              <td>2020年 5月末</td>
            </tr>
            <tr>
              <td>平成30年（2018年） 7月</td>
              <td>2020年 6月末</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="visit_h2 pb30_h2 pt30_h2">
        <h2 class="text-bold">特典</h2>
      </div>
      <div class="large-12 small-12 cell">
        <div class="inner-texts_big">
          <h3 class="text-bold relative font-mm lh-1">豊田市美術館</h3>
          <p class="mt20_base"><strong>【無料鑑賞】</strong><span class="pc_none"><br/></span>豊田市美術館で開催される展覧会の無料鑑賞<br/>
            <strong>【同伴者割引】</strong><span class="pc_none"><br/></span>一緒に来館した方の観覧料を団体料金に割引<span class="pc_none"><br/></span>（人数制限なし）<br/>
            <strong>【レストラン】</strong><span class="pc_none"><br/></span>ランチセットの注文でプチデザートをサービス<br/>
            <strong>【ミュージアムショップ】</strong><span class="pc_none"><br/></span>豊田市美術館が発行するポストカード等を5％引き</p>
        </div>
        <div class="inner-texts_big">
          <h3 class="text-bold relative lh-1 font-mm">豊田市内文化施設</h3>
          <p class="mt20_base mb20 spmb0 font-m">以下の施設で開催される特別展の観覧料を100円引き<br/>
            ※開館日、利用時間、事業内容等については、各施設にお問い合わせください。</p>
          <p class=""><strong>【豊田市郷土資料館】</strong><span class="pc_none"><br/></span>豊田市陣中町1-21／ TEL 0565-32-6561<br/>
            <strong>【豊田市民芸館】</strong><span class="pc_none"><br/></span>豊田市平戸橋町波岩86-100／ TEL 0565-45-4039</p>
        </div>
        <div class="inner-texts_big">
          <h3 class="text-bold relative lh-1 font-mm">愛知県内美術館</h3>
          <p class="mb20_base mt20_base spmb0">以下の美術館の観覧料を団体料金に割引。<br/>
            ※開館日、利用時間、事業内容等については、各施設にお問い合わせください。</p>
          <p><strong>【岡崎市美術博物館】</strong><span class="pc_none"><br/></span>岡崎市高隆寺町字峠1／TEL0564-28-5000<br/>
            <strong>【桑山美術館】</strong><span class="pc_none"><br/></span>名古屋市昭和区山中町2-12／TEL052-763-5188<br/>
            <strong>【大一美術館】</strong><span class="pc_none"><br/></span>名古屋市中村区鴨付町1-22／TEL052-413-6777<br/>
            <strong>【徳川美術館】</strong><span class="pc_none"><br/></span>名古屋市東区徳川町1017／TEL052-935-6262<br/>
            <strong>【名古屋ボストン美術館】</strong><span class="pc_none"><br/></span>名古屋市中区金山町1-1-1／TEL052-684-0101<br/>
            <strong>【古川美術館】</strong><span class="pc_none"><br/></span>名古屋市千種区池下町2-50／TEL052-763-1991<br/>
            <strong>【ヤマザキマザック美術館】</strong><span class="pc_none"><br/></span>名古屋市東区葵1-19-30／TEL052-937-3737
          </p>
        </div>
        <div class="inner-texts_big">
          <h3 class="text-bold relative lh-1 font-mm">協力店舗等</h3>
          <p class="mb20_base mt20_base"><strong>【ホテルトヨタキャッスル】</strong><span class="pc_none"><br/></span>豊田市喜多町2-160　コモ・スクエアウェスト<br/>
            豊田市美術館年間パスポートを提示する方と、同伴の同居ご家族に以下の特典があります。</p>
          <p class="mb20_base">直営飲食店舗３店舗「煖」「桃園」「ウインザー」での飲食料10％割引<br/>
            婚礼特典：料理料、飲物料10％割引、ウェディングケーキ贈呈<br/>
            宿泊料金：20％割引<br/>
            ※お問合せについては、豊田市美術館レストラン　TEL0565-77-3922
          </p>
          <p class="mb20_base"><strong>【猿投温泉】</strong><span class="pc_none"><br/></span>豊田市加納町馬道通21／TEL0565-45-6690<br/>
            豊田市美術館年間パスポートを提示する方（9名までの同伴者を含む）に以下の特典があります。</p>
          <dl class="passport_dl">
            <dt>金泉閣</dt>
            <dd>１泊２食（サ込・税別）、昼食・夕食（サ込・税別）とも各基本料金の10％引きとする。</dd>
            <dt>金泉の湯</dt>
            <dd>大人通常料金1,500円を1,200円（税込）<br/>
              小人通常料金1,000円を700円（税込）<br/>
              入泉回数券（11枚綴り）を基本料金の10％引きとする</dd>
            <dt>さなげ座</dt>
            <dd>カラオケ部屋基本料金の500円引きとする。</dd>
          </dl>
          <p>※営業日、営業時間、事業内容等については、各店舗にお問い合わせください。</p>
        </div>
      </div>
      <div class="visit_h2 pb30_h2 pt30_h2" id="qa">
        <h2 class="text-bold">よくあるご質問</h2>
      </div>
      <div class="large-12 small-12 cell">
        <div class="inner-texts_base pt0 mt20_base">
          <p class="text-bold">郵送での申込みは可能か</p>
          <p class="mt10_base">郵送での申し込みはできません。</p>
          <p class="mb10_base">申込書と代金を受領後すぐにパスポートを発行します。発行日から１年後の月末までが有効期限になるため、実際に、美術館の展覧会を見に来る日に、チケットカウンターでパスポートの申込書を書き、パスポートを購入した後、展覧会を観覧する方が得であるため、直接、チケットカウンターでお買い求めください。</p>
        </div>
        <div class="inner-texts_base pt0 mt20_base">
          <p class="text-bold">紛失した場合</p>
          <p class="mb10_base mt10_base">再発行はしません。</p>
        </div>
        <div class="inner-texts_base pt0 mt20_base">
          <p class="text-bold">家族会員、高大生会員、ボランティア会員について</p>
          <p class="mb10_base mt10_base">年間パスポートには、家族会員、高大生会員、ボランティア会員という料金設定はなく、価格は3,000円のみです。</p>
        </div>
        <div class="inner-texts_base pt0 mt20_base mb100">
          <p class="text-bold">パスポートの特典に、美術館の展覧会案内チラシの送付が含まれていない理由</p>
          <p class="mb10_base mt10_base">今回は、これまでの友の会の入会金と同じ3,000円という価格を据え置いた上で、観覧機会の充実に重きを置いた特典内容にしました。</p>
          <p>最近では、多くの方が、美術館の展覧会情報をホームページやＳＮＳで入手しているようですが、チラシ等の紙媒体による広報物の発送については、利用者の意見やその他の状況等をみて、必要であれば今後検討していきます。</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="relative">
  <div class="go_space">
  </div>
  <div class="go_top">
    <a href="#">
      <div class="news_arrow"><span></span></div>
    </a>
  </div>
</div>
<div class="columns">
  <div class="footer clearfix border_t">
    <div class="grid-x">
      <a class="gnavi-logo left" href="/">
        <img src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/logo.svg" alt="Toyota Municipal Museum of Art 豊田市美術館">
      </a>
      <p class="text font-s">高橋記念美術文化振興財団</p>
      <ul class="right upper rightdelSp">
        <li><a href="/contact/">お問い合わせ</a></li>
        <li><a class="bordder_l" href="/sitemap/">サイトマップ</a></li>
        <li><a class="bordder_l" href="/terms/">サイトポリシー</a></li>
        <li class="breakSp"><a href="/policy/">プライバシーポリシー</a></li>
        <li><a class="bordder_l" href="/faq/">FAQ</a></li>
        <li><a class="bordder_l" href="/press/">プレス</a></li>
      </ul>
      <ul class="right bottom rightdelSp">
        <li><a class="bordder_l" href="https://twitter.com/toyotashibi" target="_blank"><img src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/footer_ico_tw.svg" alt="Twiiter"></a></li>
        <li><a class="bordder_l" href="https://www.instagram.com/explore/locations/581489536/" target="_blank"><img src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/img/common/footer_ico_insta.svg" alt="instagram"></a></li>
      </ul>
      <p class="copyright font-s">©️Toyota municipal museum of art all rights reserved.</p>
    </div>
  </div>
</div>
<!--
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-includes/js/jquery/jquery.form.min.js?ver=4.2.1'></script> -->
<!-- <script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/contact-form-7-add-confirm/includes/js/scripts.js?ver=4.8'></script>
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/jquery-validation-for-contact-form-7/js/jquery.validate.min.js?ver=4.9.3'></script>
<script type='text/javascript'> -->
<!-- /* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/dev2.tmma-dev.ranaextractive.jp\/wp-json\/","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"\u3042\u306a\u305f\u304c\u30ed\u30dc\u30c3\u30c8\u3067\u306f\u306a\u3044\u3053\u3068\u3092\u8a3c\u660e\u3057\u3066\u304f\u3060\u3055\u3044\u3002"}}};
/* ]]> */
</script> -->
<!-- <script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/plugins/jquery-validation-for-contact-form-7/js/jquery.jvcf7_validation.js?ver=4.9.3'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/html5.js?ver=3.7.3'></script>
<![endif]-->

<!-- <script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/skip-link-focus-fix.js?ver=1.0'></script> -->
<!-- <script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/jquery.scrollTo.js?ver=2.1.2'></script>
<script type='text/javascript' src='http://dev2.tmma-dev.ranaextractive.jp/wp-includes/js/wp-embed.min.js?ver=4.9.3'></script> -->
<!-- <script src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/desvg.js"></script> -->
<script src="../js/app.js"></script>
<!-- <script src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/app.js?1519888450"></script> -->
<!-- <script src="http://dev2.tmma-dev.ranaextractive.jp/wp-content/themes/tmma/assets/js/flexibility.js"></script> -->
</body>
</html>
